body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.link {
  text-decoration: underline;
  color: DodgerBlue;
  cursor: pointer;

  &:hover {
    color: darken(DodgerBlue, 10%);
  }

  &:active {
    color: darken(DodgerBlue, 20%);
  }
}

.button-link {
  @extend .link;
}